.header{
  width: 100%;
}
.show-menu{
  right: 0;
}
.nav{
  height: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__menu{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  &__list{
    display: flex;
    flex-direction: row;
    text-align: center;
    column-gap: 2rem;
    justify-content: space-between;
  }

  &__link{
    color: $black-color;
    font-size: $normal-font-size;
    font-weight: $font-medium;
    transition: .3s;
  }

  &__logo{
    display: inline-flex;
    font-weight: $font-regular;
    font-size: $logo-font-size;
    color: $black-color;
    transition: .3s;

    &_grey{
      color: $secondary-color;
    }
  }

  &__button{
    padding: 1rem 3.5rem;
    font-size: $big-font-size;
    border: solid $black-color 2px;
  }

  &__close{
    cursor: pointer;
    color: $white-color;
    font-size: 2rem;
    display: none;
  }

  &__toggle{
    cursor: pointer;
    color: $primary-color;
    display: none;
  }
}

@media screen and (max-width: 992px){
  .nav{
    height: 6.5rem;

    &__list{
      column-gap: 2rem;
    }
  
    &__link{
      font-size: 0.875rem;
    }
  
    &__logo{
      font-size: 1.875rem;
    }

    &__button{
      padding: 0.75rem 2.5rem;
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: 767px){
  .nav{
    height: 6.5rem;
    &__menu{
      position: fixed;
      background-color: $primary-color;
      width: 80%;
      height: 100%;
      top: 0;
      right: -100%;
      padding: 4rem 0 0 3rem;
      border-radius: 1rem 0 0 1rem;
      transition: .3s;
      z-index: 10;
    }
    &__toggle{
      display: inline;
      font-size: 2rem;
    }

    &__list{
      padding-top: 2rem;
      flex-direction: column;
      gap: 2rem;
    }

    &__link{
      font-size: $h3-font-size;
      color: $white-color;
    }
  
    &__logo{
      font-size: 1.875rem;
    }

    &__button{
      display: none;
    }

    &__close{
      display: inline;
      position: absolute;
      right: 1rem;
      top: 1rem;
    }
  }
}

@media screen and (max-width: 575px){
  .nav{
    &__menu{
      width: 100%;
      border-radius: 0;
      padding: 1rem;
    }
  }
}

@media screen and (max-width: 320px){
  .nav{
    height: 4.25rem;
  
    &__logo{
      font-size: 1.5rem;
    }

    &__link{
      font-size: 1.25rem;
      gap: 2rem;
    }
  }
}