.pricing{
    &__title{
        margin-bottom: 4rem;
        text-align: center;
    }

    &__container{
        margin-bottom: 7rem;
    }

    &__cards{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3rem;
        position: relative;
    }

    &__card{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
        &-title{
            font-size: $h3-font-size;
            margin-bottom: 1.25rem;
        }

        &-description{
            font-size: $normal-font-size;
            margin-bottom: 1.75rem;
        }
    }

    &__button{
        font-family: $body-font;
        display: inline-flex;
        gap: 0.5rem;
        background-color: #EEEEEE;
        padding: 0 1.5rem;
        border-radius: .25rem;
        &-cost{
            font-size: $h3-font-size;
        }
        &-per-month{
            font-size: 1.125rem;
            align-self: center;
        }
    }

    &__img{
        &-1{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        &-2{
            margin-top: 1.2rem;
        }

        &-3{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media screen and (max-width: 992px){
    .pricing{
        &__title{
            font-size: 2.25rem;
            margin-bottom: 2rem;
        }
    
        &__container{
            margin-bottom: 2rem;
        }
    
        &__cards{
            gap: 3rem;
        }
    
        &__card{
            &-title{
                font-size: 1.375rem;
                margin-bottom: 0.75rem;
            }
    
            &-description{
                font-size: 1rem;
                margin-bottom: 1.5rem;
            }
        }
    
        &__button{
            gap: 0.2rem;
            padding: 0 0.75rem;
            border-radius: 5px;
            &-cost{
                font-size: 1.5rem;
            }
            &-per-month{
                font-size: 1rem;
            }
        }
    
        &__img{
            &-1{
                width: 222px;
            }
    
            &-2{
                width: 267px;
            }
    
            &-3{
                width: 242px;
            }
        }
    }
}

@media screen and (max-width: 767px){
    .pricing{
        &__title{
            font-size: 1.875rem;
            margin-bottom: 2rem;
        }
    
        &__container{
            margin-bottom: 2rem;
        }
    
        &__cards{
            gap: 2.5rem;
        }
    
        &__card{
            &-title{
                font-size: 1.25rem;
                margin-bottom: 0.75rem;
            }
    
            &-description{
                font-size: 0.875rem;
                margin-bottom: 1.5rem;
            }
        }
    
        &__button{
            gap: 0.5rem;
            padding: 0 0.75rem;
            border-radius: 5px;
            &-cost{
                font-size: 1.375rem;
            }
            &-per-month{
                font-size: 1rem;
            }
        }
    
        &__img{
            &-1{
                width: 197px;
            }
    
            &-2{
                width: 219px;
                margin-top: 1.5rem;
                margin-bottom: 1rem;
            }
    
            &-3{
                width: 210px;
                margin-bottom: 0.5rem;
            }
        }
    }
}

@media screen and (max-width: 575px){
    .pricing{
        &__cards{
            gap: 2.5rem;
            display: flex;
            flex-direction: column;
        }
    
        &__card{
            text-align: center;
            &-title{
                font-size: 1.5rem;
                margin-bottom: 0.75rem;
            }
    
            &-description{
                padding: 0 5rem;
            }
        }
    
        &__button{
            margin: 0 auto;
            &-cost{
                font-size: 1.375rem;
            }
            &-per-month{
                font-size: 1rem;
            }
        }
    
        &__img{
            &-1{
                width: 291px;
            }
    
            &-2{
                width: 314px;
                margin-top: 0;
                margin-bottom: 0;
            }
    
            &-3{
                width: 253px;
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
}

@media screen and (max-width: 320px){
    .pricing{
        &__title{
            font-size: 1.5rem;
        }
        &__card{
            text-align: center;
            &-title{
                font-size: 1.125rem;
            }
    
            &-description{
                font-size: 13px;
                padding: 0;
            }
        }
    
        &__button{
            margin: 0 auto;
            &-cost{
                font-size: 1.375rem;
            }
            &-per-month{
                font-size: 1rem;
            }
        }
    
        &__img{
            &-1{
                width: 291px;
            }
    
            &-2{
                width: 314px;
                margin-top: 0;
                margin-bottom: 0;
            }
    
            &-3{
                width: 253px;
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
}